<div *ngIf="!editAdminStatus">
    <div class="admin-img text-center mt-5">
        <img
          width="200px" 
          height="200px" 
          class="img-fluid rounded" 
          [src]="url" 
          alt="profile">
    </div>
    <div class="admin-update text-center">
        <button (click)="editadminbtnclick()" class="text-primary btn btn-link"> 
            Edit Admin Details <i class="fa-solid fa-pen"></i>
        </button>
    </div>
</div>

<div *ngIf="editAdminStatus" class="text-center">
    <h3> Edit Admin Details! </h3>
    <label>
        <input (change)="getFile($event)" type="file" style="display: none;">
        <img 
            width="150px" 
            height="150px" 
            class="img-fluid rounded" 
            [src]="url" 
            alt="profile"/>
    </label>
    <input [(ngModel)]="admin.name" type="text" class="form-control mt-2" placeholder="Admin Name" style="color: #c55418;">
    <input [(ngModel)]="admin.password" type="text" class="form-control mt-2" placeholder="Admin password" style="color: #c55418;">
    <input (click)="cancel()" type="button" class="btn mt-3 me-3 text-light" style="background-color: #c55418;" value="Cancel">
    <input (click)="update()" type="button" class="btn mt-3 text-light" style="background-color: #c55418;" value="Update">
</div>